/*Importando fonte google*/
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

/*******************************************/
/*reset-css*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'VT323', monospace;
  color: #fff;
}

a {
  text-decoration: none;
}

p {
  font-size: calc(1.3rem + .3vw);
}

#perfil span {
  color: var(--lime-color);
  font-size: 2rem;
}


.intro {
  font-size: 4rem;
  word-spacing: var(--special-spacing);
}

/*------------------------------------------*/

.link-lime:hover {
  color: var(--lime-color) !important;
  text-shadow: var(--brilho);
}

.navbar-collapse:before {
  content: "";
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
}

/*Animação dos links*/
.link-lime {
  display: inline-block;
  position: relative;
  color: var(--lime-color);
}

.link-lime:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--lime-color);
  transform-origin: center;
  transition: transform 0.25s ease-out;
}

.link-lime:hover:after {

  transform: scaleX(1);
  transform-origin: center;
}

/*------------------------------------------*/
/*abre o box de informações*/
.p-chave {
  font-size: 33.595px;
  color: var(--lime-color);
}

/*fecha o box de informações*/
.box-info::after {
  content: "}";
  color: var(--lime-color);
  font-size: 33.595px;
  ;
}



/*------------------------------------------*/
.text-lime {
  color: var(--lime-color);
}

.brand-h4 {
  font-size: calc(1.275rem + .3vw) !important;
}



.icons-normal {
  font-size: 1.6em;
  color: var(--lime-color);
  ;
}

.navbar-dark .navbar-brand {
  color: var(--lime-color);
}

.img-foto {
  width: 26rem;
}

.i {
  color: var(--lime-color);
  animation: blink 0.7s linear infinite;
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  50% {
    opacity: .5;
  }

  100% {
    opacity: 1;
  }
}

/*icones dos conhecimentos*/
.w-icone {
  font-size: 4rem !important;
}

.w-icone:hover {
  cursor: pointer;
}

/*contatos*/
.icon-ctt {
  color: #fff;
  font-size: 1.8rem;
}

.icon-ctt__git {
  font-size: 1.9rem;
}

.icon-ctt:hover {
  color: var(--lime-color);
  text-shadow: var(--brilho);
}

/* .link__lime { */

/*acordion*/

.accordion-collapse {
  background-color: #000;
}

.navbar-toggler {
  cursor: pointer;
  border: 0;
}

.navbar-toggler:hover {
  text-shadow: var(--brilho);
}

.html5 {
  color: #ffa500;
  filter: drop-shadow(0 0 0.6rem #ffa500);
}

.css3 {
  color: #0055ff;
  filter: drop-shadow(0 0 0.6rem #0055ff);
}

.javaScript {
  color: #ff0;
  filter: drop-shadow(0 0 0.6rem #D4F600);
}
